<p>Hei, sinut on kutsuttu yrityksen {{ company.name}} adminkäyttäjäksi Kuntamatch -alustalle.
Seuraa oheista linkkiä viimeistelläksesi rekisteröityminen</p>

<p><a href="{{ url }}/password/recovery/{{ token.token }}">Kirjaudu sisään</a></p>

<p>{% trans into language %}Best regards{% endtrans %}</p>